 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */
html, body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #cc727e;
    text-decoration: none;
}

h1 {
    padding-bottom: 20px;
}

/* navbar */
#navbar {
    background: #333;
    color: #e9dee5;
    overflow: auto;
}
#navbar a {
    color: #fff;
}
